@import url("https://use.typekit.net/mbu7cxr.css");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,700&display=swap");

:root {
  --header-height: 70px;
  --sidebar-width: 200px;
  --upd-pink: #f5333f;
  --upd-red: #8e1b26;
  --upd-black: #202020;
  --upd-navy: #334d5c;
  --upd-blue: #2b7499;
  --upd-light-blue: #39b3ca;
  --upd-light-green: #81be62;
  --upd-turquoise: #45b19c;
  --upd-yellow: #f2a328;
  --upd-orange: #e27b3e;
  --sans: "ars-maquette-web", Arial, Helvetica, sans-serif;
  --serif: "Merriweather", Georgia, "Times New Roman", Times, serif;
}
html,
body {
  font-size: 10px;
}
body {
  position: relative;
  box-sizing: border-box;
  padding-top: var(--header-height);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sans);
  font-weight: 800;
  color: var(--upd-navy);
  margin: 0;
}
h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
h2 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  color: var(--upd-blue);
}
h3 {
  font-size: 1.8rem;
  color: var(--upd-blue);
  margin-bottom: 1rem;
}
h4 {
  color: var(--upd-blue);
  font-family: var(--serif);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
h3 + h4 {
  margin-top: 2rem;
}
p {
  font-family: var(--serif);
  font-weight: 200;
  font-size: 1.4rem;
  margin: 0;
  max-width: 80rem;
  line-height: 1.7;
  color: var(--upd-black);
}

p + p {
  margin-top: 1rem;
}

blockquote + h1,
blockquote + h2,
blockquote + h3,
blockquote + h4,
blockquote + h5,
blockquote + h6,
hr + h1,
hr + h2,
hr + h3,
hr + h4,
hr + h5,
hr + h6,
h2 + h3,
p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 3rem;
}
p + h3 {
  margin-top: 2rem;
}

blockquote {
  max-width: 80rem;
  border-left: 5px solid var(--upd-light-blue);
  background: lighten(#39b3ca, 43%);
  padding: 2rem 3rem;
  margin-left: 0;
  margin-right: 0;
  p {
    font-size: 1.5em;
    color: var(--upd-navy);
  }
}

span.gatsby-resp-image-wrapper {
  border: 1px solid #eee;
  margin-top: 3rem;
}

span.gatsby-resp-image-wrapper + em,
img + em {
  font-family: var(--sans);
  text-align: center;
  display: block;
  margin-top: 0.8rem;
  margin-bottom: 3rem;
  font-size: 1.2rem;
  a {
    color: inherit;
    opacity: 0.7;
    text-decoration: none;
  }
}

code {
  font-size: 1em;
  // border: 1px solid red;
  height: 100px;
  padding: 0.2em 0.4em;
  background: #e0e0e0;
  &::after,
  &::before {
    content: "";
  }
}
